.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container > div {
    border: 3px solid #f1f1f1;
    width: 50%;
    text-align: center;
    padding: 16px;
}

form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    box-sizing: border-box;
}

form button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

form > button:hover {
    background-color: cyan;
}
