#chatroom-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chatroom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 88vw;
    justify-content: space-between;
    margin-top: 3vw;
}

/* chatroom window style */
.chatroom {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: var(--border);
    border-radius: 5px;
    background: var(--chatroom-background-color);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.3);
    width: 75%;
    height: 80vh;
}

.chatroom-header {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    border-bottom: var(--border);
    background: var(--base-color);
    color: #000000;
}


.chatroom-chat {
    flex: 1;
    overflow-y: auto;
    padding: 2.5%;
    background-color: var(--chatroom-background-color);

}

/* message style */
.message-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5%;
}

.student-profile-image {
    width: 50px;
    height: 50px;
    margin-right: 1%;
    background: #ececec;
    border-radius: 50%;
}

.message {
    max-width: 40%;
    padding: 1.5%;
    border-radius: 15px;
    background: var(--received-message-background-color);
}

.message-header {
    margin-bottom: 1%;
}

.message-header-username {
    font-weight: bold;
}


.sent-message {
    flex-direction: row-reverse;
    color: #fff;
}

.sent-message .message {
    background: var(--sent-message-background-color);
}

.sent-message .student-profile-image {
    margin: 0 0 0 1%;
}

/* submit aerea style */
.chatroom-submit-area {
    display: flex;
    padding: 1%;
    border-top: var(--border);
    background: #f0eeee;
    margin: 0;
}

.chatroom-submit-area * {
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.chatroom-submit-area-input {
    flex: 1;
    background: #ffffff;
}

.chatroom-submit-area-button {
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.chatroom-submit-area-button:hover {
    background: rgb(0, 120, 34);
}

.online-user-list-container {
    display: flex;
    border: var(--border);
    border-radius: 5px;
    background: var(--chatroom-background-color);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.online-user-list-header{
    display: flex;
    border-bottom: var(--border);
    background: var(--base-color);
    color: #000000;
    padding: 1vw;
    width: 100%;
    flex-direction: column;
    align-items: center;

}

.online-user-list-content{

    background-color: var(--chatroom-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vw;
    width: 90%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul li {
    background-color: #f6f6f6;
    padding: 1vw;
    border: var(--border);
    text-align: center;
}