:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --chatroom-background-color: #fff;
    --border: 2px solid #ddd;
    --received-message-background-color: #ececec;
    --sent-message-background-color: #579ffb;
    --base-color: #97c6f2a1;
}

/* page style */
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
    margin: 0;
}

.student-platform-button{
    background: rgb(91 109 246);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 3vw;
    width: 15vw;
    overflow-x: auto;
    max-width: 15vw;
    font-size: 1.25vw;
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    padding: 0 1vw;
    border-radius: 5px;
}

.student-platform-button:hover {
    background: rgb(41, 67, 253);
}