@import url("common.css");

.topnav {
    display: flex;
    background-color: var(--base-color);
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3vw;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
    border-bottom: solid #ddd;
}

.topnav button {
    display: flex;
    color: black;
    background-color: var(--base-color);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1.25vw;
}

.topnav button:hover {
    opacity: 0.6;
}

#flex-container{
    display: flex;
    width: 80%;
}

#left-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12.5%;
    margin: 0 2vw;
}

#right-container{
    display: flex;
    width: 7.5%;
    flex-direction: row-reverse;
    margin: 0 2vw;
}
